.env
langGEnv/
venv/
__pycache__
.env
venv/

.DS_Store

venv
.env
__pycache__
# Ignore Mac DS_Store files
.DS_Store
**/.DS_Store
OpenAIFunctionTest
out.csv
cgMotorsEnv/
ChromaStores/
CG-Motors/
MultiLanguageEmbeddingTest/


DoctorDemo/
DoctorDemo/agentic-customer-service-medical-clinic
/DoctorDemo
